@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:100,400);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

$main_font: 'Alegreya Sans', sans-serif;
$header-font: 'Oswald';

$blue-main: #00336B;
$blue-secondary: #143150;
$blue-darker: #002146;	
$blue-lighter: #2D6DB5;
$blue-lightest: #5180B5;